@import "tailwindcss";

@theme {
  --color-brand-500: #2563EB;
  --color-brand-600: #1D4ED8;
  --color-brand-700: #1e40af;

  --animate-blob: blob 7s infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  /* Slate 50 */
}